<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Job Search</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/w3.css" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" >
  <link href="../static/css/style.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <!-- top navigator -->
      <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
          <div class="w3-col s4">
            <a href="" class="w3-button w3-block w3-grey nav-option" >HOME</a>
          </div>
          <div class="w3-col s4">
            <a href="resume" class="w3-button w3-block w3-black nav-option">RESUME</a>
          </div>
          <div class="w3-col s4">
            <a href="searchpage" class="w3-button w3-block w3-black nav-option">SEARCH</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row main-content" >
      <div class="col-md-12">
        <h1 class="w3-center w3-padding-48">
          <span class="w3-tag w3-wide">Recommended Jobs</span>
        </h1>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-3" id="resume_brief">
                <!-- left  -->
                <!-- if no resume in cache, show "create resume" button -->
                <!-- if resume exists, show resume brief and "modify resume" button -->
                <p class="w3-text-grey">LEFT PART</p>
              </div>
              <div class="col-md-9" id="recommended_jobs">
                <!-- right -->
                <p class="w3-text-grey">RIGHT PART</p>
                <button type="button" class="btn btn-default">
                  Default
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-1">
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="w3-center w3-light-grey w3-padding-16 w3-large">
    <p>Powered by COSI132 JOB SEARCH GROUP</p>
  </footer>
</body>
</html>