<% Resume = require("Resume"); %>

<div class="row">
  <div class="col-md-3" id="resume_brief">
    <div class="c-sidebar">
      <!-- left  -->
      <!-- if no resume in cache, show "create resume" button -->
      <!-- if resume exists, show resume brief and "modify resume" button -->
      <h5 class="w3-center">
        <span class="w3-tag w3-wide">Resume</span>
      </h5>
      <% if (Resume.hasResume()) {%>
        <% resume = Resume.getData() %>
        <ol>
          <% if (resume.fn != "") {%>
            <li><p class="w3-text-white"><b>First Name:</b> <%=resume.fn%></p></li>
          <% } %>
          <% if (resume.ln != "") {%>
            <li><p class="w3-text-white"><b>Last Name:</b> <%=resume.ln%></p></li>
          <% } %>
          <% if (resume.major != "") {%>
            <li><p class="w3-text-white"><b>Major:</b> <%=resume.major%></p></li>
          <% } %>
          <% if (resume.degree != "") {%>
            <li><p class="w3-text-white"><b>Degree:</b> <%=resume.degree%></p></li>
          <% } %>
        </ol>
      <% } %>
      <button type="button" class="btn btn-default form-control" id="manage_resume"> 
        Manage Resume
      </button>
    </div>
  </div>
  <div class="col-md-9" id="recommended_jobs">
    <!-- right -->
    <% if (!Resume.hasResume()) {%>
      <p class="w3-text-white">Upload your resume to get your best suitable jobs!</p>
    <% } else { %>
      <h5>
        <span class="w3-tag w3-wide" id="result_title">Recommend Jobs For You</span>
      </h5>
      <div class="row" id="job_list">
      </div>
      <button class="btn btn-default form-control search-mode" id="load_more" style="margin-top: 10px">
        See more
      </button>
    <% } %>

  </div>
</div>