body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

body {
  background-image: url(../images/back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: auto;
  min-height: 100%;
}
.container-fluid {
  padding-bottom: 120px;
}

/*highlight*/
em {
    color: #dd4b39;
    font-style: normal;
    font-weight: normal;
}

.nav-option {
  font-size: 20px;
}

.slabel {
  font-size: 16px;
}

.search-mode {
  text-align: center;
  width: 100%;
}

.form-group {
  margin-bottom: 5px
}

footer{
    left:0px;
    right:0px;
    position: absolute;
    bottom: 0;
    height: 60px;
}

.center-button {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}